@import "tailwindcss";
@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.animate-shine {
  animation: shine 3s linear infinite;
}

@keyframes rise {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-150px);
    opacity: 0;
  }
}

.sparkle {
  position: absolute;
  bottom: 0;
  width: 3px;
  height: 3px;
  background: rgba(255, 200, 80, 0.9); /* golden glow */
  border-radius: 50%;
  box-shadow: 0 0 8px rgba(255, 200, 80, 0.8);
  animation: rise 3s linear infinite;
}
